*{
    padding: 0;
    margin: 0;
}
body {
    background-color:;
}
.container-header {
    background-color: rgb(10, 212, 27);

box-shadow: 0px 1px 3px 3px rgba(0,0,0,0.4);
}   
.logo-box {
    display: flex;
    align-items: center;
    gap :12px;
}
.icon-navbar {
    height: 60px;
    width: auto;
    padding: 5px;
}
.judul-header {
    font-weight: 500;
    font-size:large;
    font-family: Arial, Helvetica, sans-serif;
   
}
.li-navbar {
    align-items: center;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.menu-list ul {
    display: flex;
   
}
.menu-list li {
    width: 100%;
    padding: 8px;
    color:black;
    list-style-type: none;
    
    /* background-color:rgba(21, 255, 0, 0.343); */
    flex: 1;
    text-align: center;
}

/* content */

.berita-text {
    font-size: larger;
    background-color:rgb(10, 270, 27);
    padding: 4px;
    box-shadow: 3px 3px 3px -1px rgba(0,0,0,0.4);
}
